@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;

}



.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    /* width: 100%; */
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 74vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
}

.footer a {
    color: grey;
}



.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}


.spotifyplaylist {
    padding: 15px;
}

.cardcontainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

.card {
    width: 170px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    /* cursor: pointer; */
    background-color: #252525;
    position: relative;
    transition: all .5s;
}
.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}
.carde>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.play {
    width: 35px;
    height: 35px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    opacity:  var(--a);
    transition: all 1s ease-out;
    top: 130px;
}

.bar {
    position: fixed;
    object-fit: contain;
    bottom: 15px;
    background-color: #cdcdcd;
    width: 90%;
    min-height: 40px;
    padding: 12px;
    width: 70vw;
    filter: invert(1);
    border-radius: 10px;
}

.songbutton {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songlist {
    height: 450px;
    overflow: auto;
    margin-bottom: 30px;
}

.songlist ul {
    padding: 0 8px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    margin: 12px 0;
    border: 2px solid white;
    padding: 13px;
    border-radius: 5px;
}


.p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 25px;
    white-space: nowrap;
}



.info {
    word-break: break-all;
}

.seekbar {
    height: 5px;
    width: 96%;
    background: black;
    position: absolute;
    bottom: 5px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    position: relative;
    bottom: 4px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: black;
    left: 0%;
    transition: 0.3s;
}

.songbutton img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}  


.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.close {
    display: none;
}



@media (max-width: 1200px) {
    .left {
        position: absolute;
        background-color: black;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .left .close {
        position: absolute;
        top: 25px;
        right: 30px;
        width: 30px;
        display: block;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .bar {
        width: calc(100vw - 75px);
        right: 25px;
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .hamburger {
        display: block;
    }

    .cardcontainer {
        margin: 0;
        justify-content: center;
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .card {
        width: 55vw;
        display: block;
    }
    .hamburgercontainer svg {
        display: none;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .button>* {
        margin: 0 6px;
    }

    .header {
        padding: 7px;
    }

    .spotifyplaylists h1 {
        padding: 4px;
    }

    .library {
        height: 85vh;
    }

    .left {
        width: 100vw;
    }
}